select member.MEMBER_ID, member.MEMBER_NAME, security.REMINDER_QUESTION
  from MEMBER member 
    left outer join MEMBER_SECURITY security
      on member.MEMBER_ID = security.MEMBER_ID
 where member.MEMBER_NAME like 'S' || '%'
   and member.MEMBER_ACCOUNT like 'P' || '%'
 order by member.MEMBER_NAME desc