<?xml version="1.0" encoding="utf-8"?>
<quill>

	<!-- データソースの設定 -->
	<dataSources>
		<dataSource name="DfExampleWeb">
			<provider>ODP</provider>
			<connectionString>"Data Source=XE ;User Id=dfnetexdb;Password=dfnetexdb"</connectionString>
			<class>Seasar.Extension.Tx.Impl.TxDataSource</class>
		</dataSource>
	</dataSources>

	<!-- ロードするアセンブリ名 -->
	<assemblys>
		<!-- Oracle Data Provider for .NET を使用する場合に必要です。 -->
		<assembly>Oracle.DataAccess, version=2.102.2.20, Culture=neutral, PublicKeyToken=89b483f429c47342</assembly>
	</assemblys>
</quill>
