<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
		<section name="quill" type="Seasar.Quill.Xml.QuillSectionHandler, Seasar.Quill"/>
		<sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
				<section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
				<sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
					<section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
					<section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/></sectionGroup></sectionGroup></sectionGroup></configSections>
	<appSettings/>
	<connectionStrings/>
	<!-- ▼▼▼▼▼▼▼▼▼▼ Quill, Log4Net関連 ▼▼▼▼▼▼▼▼▼▼-->
	<!-- Quill の設定  Quill.configに記述 -->
	<quill configSource="Quill.config"/>
	<!-- log4net の設定 -->
	<log4net>
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %X{SessionID} %-5level (%C#%M():%L) - %m%n"/>
			</layout>
		</appender>
		<appender name="SystemEventLogAppender" type="log4net.Appender.EventLogAppender">
			<filter type="log4net.Filter.LevelRangeFilter">
				<levelMin value="ERROR"/>
				<levelMax value="FATAL"/>
			</filter>
			<applicationName value="Server Administrator"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %X{SessionID} %-5level (%C#%M():%L) - %m%n"/>
			</layout>
		</appender>
		<appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
			<filter type="log4net.Filter.LevelRangeFilter">
				<levelMin value="WARN"/>
				<levelMax value="FATAL"/>
			</filter>
			<applicationName value="DfExampleWeb"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %X{SessionID} %-5level (%C#%M():%L) - %m%n"/>
			</layout>
		</appender>
		<appender name="AllLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="..\..\Logs\System.log"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %X{SessionID} %-5level (%C#%M():%L) - %m%n"/>
			</layout>
		</appender>
		<appender name="AppLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="..\..\Logs\Web.log"/>
			<appendToFile value="true"/>
			<rollingStyle value="Date"/>
			<datePattern value="yyyyMMdd"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %X{SessionID} %-5level (%C#%M():%L) - %m%n"/>
			</layout>
		</appender>
		<appender name="DBFluteQLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="..\..\Logs\QLog.log"/>
			<appendToFile value="true"/>
			<rollingStyle value="Date"/>
			<datePattern value="yyyyMMdd"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %X{SessionID} %-5level (%C#%M():%L) - %m%n"/>
			</layout>
		</appender>
		<appender name="DBFluteXLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="..\..\Logs\XLog.log"/>
			<appendToFile value="true"/>
			<rollingStyle value="Date"/>
			<datePattern value="yyyyMMdd"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %X{SessionID} %-5level (%C#%M():%L) - %m%n"/>
			</layout>
		</appender>
		<appender name="SeasarLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="..\..\Logs\Seasar.log"/>
			<appendToFile value="true"/>
			<rollingStyle value="Date"/>
			<datePattern value="yyyyMMdd"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%t] %n%m%n"/>
			</layout>
		</appender>
		<root>
			<level value="WARN"/>
			<appender-ref ref="ConsoleAppender"/>
			<appender-ref ref="AllLogFileAppender"/>
			<appender-ref ref="SystemEventLogAppender"/>
			<appender-ref ref="EventLogAppender"/>
		</root>
		<logger name="DfExampleWeb">
			<level value="ALL"/>
			<appender-ref ref="ConsoleAppender"/>
			<appender-ref ref="AppLogFileAppender"/>
		</logger>
		<logger name="DfExample.DBFlute.AllCommon.QLog">
			<level value="ALL"/>
			<appender-ref ref="ConsoleAppender"/>
			<appender-ref ref="DBFluteQLogFileAppender"/>
		</logger>
		<logger name="DfExample.DBFlute.AllCommon.XLog">
			<level value="ALL"/>
			<appender-ref ref="ConsoleAppender"/>
			<appender-ref ref="DBFluteXLogFileAppender"/>
		</logger>
		<logger name="Seasar">
			<level value="WARN"/>
			<appender-ref ref="ConsoleAppender"/>
			<appender-ref ref="SeasarLogFileAppender"/>
		</logger>
	</log4net>
	<!-- ▲▲▲▲▲▲▲▲▲▲ Quill, Log4Net関連 ▲▲▲▲▲▲▲▲▲▲-->
	<system.web>
		<!-- 
            デバッグ シンボルをコンパイルされたページに挿入するに
            は、compilation debug="true" に設定します。この設
            定はパフォーマンスに影響するため、開発時のみこの値
            を true に設定してください。
        -->
		<!--
		  <compilation debug="true" targetFramework="4.0">
    -->
    <compilation debug="true">
		<assemblies>
			<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
			<add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
			<add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
		</assemblies>
		</compilation>
		<!--
            <authentication> セクションは、ユーザーを識別するため
            に、ASP.NET で使用されるセキュリティ認証モードの構成
            を有効にします。-->
		<authentication mode="Windows"/>
		<!--
            <customErrors> セクションは、要求の実行中にハンドル
            されていないエラーが発生した場合の処理方法の構成を
            有効にします。具体的には、開発者が HTML エラー ペ
            ージをエラーのスタック トレースの代わりに表示するように構
            成することを可能にします。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<pages>
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></controls></pages>
		<httpHandlers>
			<remove verb="*" path="*.asmx"/>
			<add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add verb="GET,HEAD" path="ScriptResource.axd" validate="false" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></httpHandlers>
		<httpModules>
			<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></httpModules>
		</system.web>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Oracle.DataAccess" publicKeyToken="89b483f429c47342"/>
				<bindingRedirect oldVersion="2.102.2.20" newVersion="10.2.0.100"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/></dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/></dependentAssembly></assemblyBinding>
	</runtime>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
				<providerOption name="CompilerVersion" value="v3.5"/>
				<providerOption name="WarnAsError" value="false"/></compiler></compilers></system.codedom>
	<!-- 
        system.webServer セクションは、Internet Information Services 7.0 で ASP.NET AJAX を
        実行するために必要です。以前のバージョンの IIS では不要です。
    -->
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules>
			<remove name="ScriptModule"/>
			<add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></modules>
		<handlers>
			<remove name="WebServiceHandlerFactory-Integrated"/>
			<remove name="ScriptHandlerFactory"/>
			<remove name="ScriptHandlerFactoryAppServices"/>
			<remove name="ScriptResource"/>
			<add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ScriptResource" verb="GET,HEAD" path="ScriptResource.axd" preCondition="integratedMode" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></handlers></system.webServer>
</configuration>
