<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
		<section name="quill" type="Seasar.Quill.Xml.QuillSectionHandler, Seasar.Quill"/>
	</configSections>
	<quill>
		<dataSources>
			<dataSource name="LibraryDb">
				<provider>MySQL</provider>
				<connectionString>"server=127.0.0.1;port=56606;user id=librarydb; password=librarydb; database=librarydb;"</connectionString>
				<class>Seasar.Extension.Tx.Impl.TxDataSource</class>
			</dataSource>
			<dataSource name="MemberDb">
				<provider>MySQL</provider>
				<connectionString>"server=127.0.0.1;port=56606;user id=memberdb; password=memberdb; database=memberdb;"</connectionString>
				<class>Seasar.Extension.Tx.Impl.TxDataSource</class>
			</dataSource>
		</dataSources>
		<assemblys>
      <!-- for NET2.0 -->
			<!--<assembly>MySql.Data, version=1.0.10.1, Culture=neutral, PublicKeyToken=c5687fc88969c44d</assembly>-->
      <!-- for NET4.0 -->
      <assembly>MySql.Data, version=6.3.5.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d</assembly>
		</assemblys>
	</quill>
	<log4net>
		<appender name="DebugLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="C:\tmp\log\dfnet-multipledb-quill-example-debug.log"/>
			<appendToFile value="true"/>
			<rollingStyle value="Date"/>
			<datePattern value="yyyyMMdd"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%t] %-5level (%C{1}#%M():%L) - %m%n"/>
			</layout>
		</appender>
		<appender name="DebugConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%-5level (%C{1}#%M():%L) - %m%n"/>
			</layout>
		</appender>
		<root>
			<level value="DEBUG"/>
			<appender-ref ref="DebugConsoleAppender"/>
			<!--
      <appender-ref ref="ErrorLogFileAppender"/>
      <appender-ref ref="WarnLogFileAppender"/>
      <appender-ref ref="InfoLogFileAppender"/>
      <appender-ref ref="DebugLogFileAppender"/>
      -->
		</root>
	</log4net>
</configuration>
